<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <fieldset>
      <legend>
        <%= t('form_title.edit_account') %> <%= current_usuario.name %>
      </legend>

      <div class="large-12 columns">
        <div class="small-4 columns">
          <%= f.label :avatar %>
        </div>
        <div class="large-8 columns">
          <%= f.file_field :avatar, :autofocus => true, :class => "form-controll" %>
        </div>
      </div>

      <div class="large-12 columns">
        <div class="large-4 columns">
          <%= f.label t('form_text.name') %>
        </div>
        <div class="large-8 columns">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="large-12 columns">
        <div class="large-4 columns">
          <%= f.label t('form_text.apellido') %>
        </div>
        <div class="large-8 columns">
          <%= f.text_field :apellido %>
        </div>
      </div>

      <div class="large-12 columns">
        <div class="large-4 columns">
          <%= f.label t('form_text.description') %>
        </div>
        <div class="large-8 columns">
          
          <%= f.text_area :description, :class => "ckeditor" %>
        </div>
      </div>

      <div class="large-12 columns">
        <div class="large-4 columns">
          <%= f.label :email %>
        </div>
        <div class="large-8 columns">
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>

      <fieldset>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="large-12 columns">
          <div class="large-4 columns">
            <br>
            <%= f.label :password %>
          </div>
          <div class="large-8 columns">
            <i>(<%= t('form_text.password_leave_blank') %>)</i>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>

        <div class="large-12 columns">
          <div class="large-4 columns">
            <%= f.label t('form_text.password_confirmation') %>
          </div>
          <div class="large-8 columns">
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>

        <div class="large-12 columns">
          <div class="large-4 columns">
            <br>
            <%= f.label t('form_text.password_now') %>
          </div>
          <div class="large-8 columns">
            <i>(<%= t('form_text.current_password') %>)</i>
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>
        </div>
      </fieldset>

      <div class="actions large-8 small-6 columns right">
        <%= f.submit t("form_button.update_button"), :id => "myButton" %>
      </div>

    </fieldset>
  </div>

<% end %>

<div class="row">
  <fieldset>
      <h3><%= t('form_title.cancel_account') %></h3>

      <p>
        <%= t('form_text.mensaje_cancel') %>
      </p>

      <%= button_to t("form_title.cancel_account"),
          registration_path(resource_name),
          data: { confirm: t('form_text.question_confirmation') },
          method: :delete, :id => "myButton" %>

      <%= link_to "Back", :back %>
  </fieldset>
</div>
