<h1>Comentarios de los usuarios:</h1>
<div class="row">

  <div class="large-9 columns">
    <% @all_usuarios.each do |usuario| %>
    <div class="row">
      <div class="large-2 columns small-3">
        <%= image_tag(usuario.avatar) %>
      </div>

      <div class="large-10 columns">

          <% usuario.comentarios.each do |cm| %>
            <p>
              <strong>
                <%= usuario.name %> dice:
                <br>
              </strong>

              <% unless cm.comentario.empty? %>
                <%= cm.comentario[0..30] %>
                <% if cm.comentario.length > 30 %>
                  ...
                <% end %>
              <% end %>
            </p>

            <ul class="inline-list">
              <li>
                <% if current_usuario.id == usuario.id %>
                  <%= link_to 'Editar', edit_comentario_path(cm.id) %>
                <% else %>
                  <%= link_to 'Contestar', new_comentario_path %>
                <% end %>
              </li>
              <li>
                <%= link_to 'Ver', controller: :comentarios, action: :show, id: cm.id %>
              </li>
            </ul>

          <% end %>

      </div>
    </div>
    <% end %>
  </div>

</div>
