<p id="notice"><%= notice %></p>

<div class="row small-6 large-9 columns">

  <div class="large-10 columns">

    <p>
      <strong>
        Comentario:
        <br>
        <% @usuario_comment.each do |usuario| %>
          Autor: <%= usuario.name %>
          <br>
        <% end %>
        <br>
      </strong>

      <%= @show_comment.comentario %>
      <hr>

      <% t = @show_comment.created_at %>
      <%= t.day.to_s + " " + t.strftime("%b") + " " + t.strftime("%Y") %>
    </p>

    <%= link_to t('form_text.back'), :back %>

  </div>

</div>
