<p id="notice"><%= notice %></p>

<div class="row small-6 large-9 columns">

  <div class="large-10 columns">

    <p>
      <strong>
        Comentario:
        <br>
        <% @usuario_comment.each do |usuario| %>
          Autor: <%= usuario.name %>
          <br>
        <% end %>
        <br>
      </strong>

      <%= @show_comment.comentario %>
      <hr>

      <p>
        <em><%= @show_comment.created_at.strftime("%d - %b - %Y [%H:%M]") %></em>
      </p>
    </p>

    <%= link_to t('form_text.back'), :back %>

  </div>

</div>
