<div class="row small-6 large-9 columns">
  <h3>Respuesta a comentario:</h3>
  <div class="form large-11 columns">
    <%= @comentario %>
    <%= simple_form_for @respon_comentario do |form| %>
      <%= form.input :respuesta_comentario, autofocus: true, as: :text, :maxlenght => 200 %>
      <%= form.button :submit, 'Submit', id: "myButton" %>
    <% end %>

    <%= link_to t("form_text.back"), :back %>
  </div>
</div>
