<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">

    <fieldset>
      <legend>
        <%= t("form_title.log_in") %>
      </legend>

      <div class="large-12 columns">
        <div class="large-4 columns">
          <%= f.label :email %>
        </div>
        <div class="large-8 columns">
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>

      <div class="large-12 columns">
        <div class="large-4 columns">
          <%= f.label :password %><br />
        </div>
        <div class="large-8 columns">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>

      <div class="large-12 columns">
        <div class="row">
          <div class="large-8 columns right">
            <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label t("form_text.remember_me") %>
            <% end -%>
          </div>
        </div>
      </div>

      <div class="actions large-8 columns">
        <%= f.submit t("form_text.log_in"), :id => "myButton" %>
      </div>
    </fieldset>
  </div>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
