<h3>Detalles del usuario:</h3>
<div class="row large-9 columns">

  <div class="large-11 columns panel callout radius">
    <div class="large-3 columns">
      <%= image_tag @show_user.avatar %>
    </div>

    <div class="large-9 columns">
      <div>
        <h3>Nombre:</h3><%= @show_user.name %>
      </div>

      <br>

      <div>
        <h3>Apellido:</h3><%= @show_user.apellido %>
      </div>

      <br>

      <div>
        <h3>Email:</h3><%= @show_user.email %>
      </div>

      <br>

      <div>
        <h3>Descripcion:</h3><%= @show_user.description %>
      </div>
    </div>

    <%= link_to 'Atras', :back %>
  </div>

</div>
