<p><%= t('title.hello') %> <%= @resource.email %>!</p>

<p><%= t('email_send.reset_password') %></p>

<p><%= link_to t('email_send.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('email_send.msj_password_1') %></p>
<p><%= t('email_send.msj_password_2') %></p>
