<p><%= t('title.hello') %> <%= @resource.email %>!</p>

<p><%= t('email_send.msj_password_block_1') %></p>

<p><%= t('email_send.msj_password_block_2'): %></p>

<p><%= link_to t('email_send.unlock_account'), unlock_url(@resource, unlock_token: @token) %></p>
