<div class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list right">
            <li><%= link_to t("form_text.home"), root_path %></li>
            <% if usuario_signed_in? %>
              <li><%= link_to t("form_text.edit_profile"), edit_usuario_session_path(current_usuario) %></li>
              <li><%= link_to t("form_text.exit_account"), destroy_usuario_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to t("form_text.sign_in"), new_usuario_session_path %></li>
              <li><%= link_to t("form_text.sign_up"), new_usuario_registration_path %></li>
            <% end %>
          </ul>

            <div>
                <%= image_tag("bandera-usa.jpg", :class => "image_banderas") %>
                <%= link_to_unless_current "English", locale: "en" %> |
                <%= image_tag("bandera-mexico.jpeg", :class => "image_banderas") %>
                <%= link_to_unless_current "Español", locale: "es" %>
            </div>
        </div>
      </div>
    </div> 
</div>