<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Administrador" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main>
      <%= render 'layouts/messages' %>

      <% if usuario_signed_in? %>
        <div class="row small-12 large-3 columns">
          <div>
            <div class="panel">
              <%= image_tag("comentario.jpg") %>
              <h5><%= link_to "Usuarios", usuarios_path('index') %></h5>
              <h5>
                <%= link_to "Comentarios", comentarios_path('index') %>
              </h5>

              <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up:true">
                <section class="section">
                  <h5 class="title">
                    <%= link_to "Nuevo comentario", new_comentario_path %>
                  </h5>
                </section>
              </div>
            </div>
          </div>

        </div>
      <% end %>

      <%= yield %>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
